*{
   margin: 0px;
   padding:0px; 
   box-sizing: border-box;
}

nav{
    display: flex;
    justify-content:space-around;
   align-items: center;
min-height: 8vh;
background-color: rgb(137, 114, 114);

}
 
.pinknavbutton { 
    font-family: 'Montserrat', sans-serif;
    background-color: #deb9b9;
    font-weight: bold;
 
    font-size: 14px;
    border: none;
    border-radius: 15px;
   padding: 4px;
   margin: 20px;
   color: #090808;
   letter-spacing: 2px;
   


}
.logo {
    font-family: 'Fredoka', sans-serif;
    color:#edecec;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.navlinks {
    display: flex;
    list-style: none;
    width: 40%;

}
.burger {
    display:none; 
  
}
.burger div {
    width:25px;
    height: 4px;
    background-color:#edecec;
    margin: 6px;
   
}

/*breakpoint 1*/
@media screen and (max-width:1024px
){
   
    
    .navlinks{
         width: 60%;
        }
    
    

}
/*Mobile menu*/
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .navlinks{
       position: absolute;
       right:0px;
       height: 92vh;
       top: 8vh;
       
       background-color: rgb(137, 114, 114);
       display: flex;
       flex-direction: column;
       align-items: center;
       width:50%;
       transform: translateX(100%) ;
       transition: transform 0.5s ease-in;
      


       }
       .pinknavbutton {
        top: 8vh;
       }
       
   .navlinks li { 
    opacity: 0;
}
       .burger {
        display: block;
        cursor: pointer;
       align-items: center;
       margin-top:3vh;
       
       }
       
}
.nav-active{ 
    transform: translateX(0%);
   }

   @keyframes navlinkfade{
    from{
opacity: 0;
transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
   }
   .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 9px);


   }
   .toggle .line2 {
opacity: 0;
    
}.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -9px);

    
}
